
.map-container {
  width: 100vh;
  height: 83vh;
}
h1 {
  display: flex;
  justify-content: center;
  /* color: white; */
}
li {
  list-style: disc;
  border-bottom:groove;
  border-width: 2px;

}
#form{
  border-style: outset;
  border-width: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
#directions{
  border-style:ridge;
}

#userName{
  padding-right: 15px;
}

#dropdown-basic-button {
  margin-top: 15px;
}

#routes_dropdown {
  border-bottom:groove;
  border-width: 2px;
}
h2{
  display: flex;
  justify-content: center;
  /* color: white; */

}

#toolbar {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(34, 37, 41);
  margin-top: -35px;
}

#navbar_brand{

  font-size: 30px;
}

#root{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/BlankMap-World-162E.svg/1200px-BlankMap-World-162E.svg.png");
  background-size: cover;
}

#google_map_box{
  display: flex;


}

#all_directions{
  font-family: fantasy;
  display: flex;
}

#page_head{
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: fantasy;
  border-bottom: solid 3px;
}

#create_account{
  /* display: flex; */
  margin-top: 20px;
  border-style: outset;
  border-width: 5px;
  background-color:darkgrey;
  padding-bottom: 25%;
}

#fact{
  display: flex;
  justify-content: center;
}