
.map-container {
  width: 100%;
  height: 85vh;
}
h1 {
  display: flex;
  justify-content: center;
}
li {
  list-style:disc
}
#form{
  border-style: outset;
  border-width: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
#directions{
  border-style:ridge;
}